.footer-ctr {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #121212;
  padding: 20px;
}

.copyright-mark {
  font-size: 12px;
  color: rgb(161, 161, 161);
} 