* {
  padding: 0;
  margin: 0;
}

.main-ctr {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* top: 20px; */
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  /* background-image: url("./assets/bg-1.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

